$handle-padding: 20px;
$handle-content-margin: 5px;
$handle-content-margin-large: 50px;
$handle-size: 500px;

.handle {
  position: relative;
  padding-top: $handle-padding;
  padding-bottom: $handle-padding;
  height: 100vh;
  background: #000;

  @include media($screen) {
    background-repeat: no-repeat;
    background-position: right;
  }

  /**
   * Vertically center
   */
  .outer-container { @include table-center; }
  .outer-container > .inner-container { @include table-center-inner; }
  .container { @include g-container; } // Grid container

  .content {
    color: #fff;
    text-align: center;
    margin-bottom: $handle-content-margin-large;
    @include media($screen) { width: $handle-size; }
  }
  .content > .heading { margin-bottom: $handle-content-margin-large; }
  .content > .heading.-right {
    margin-left: auto;
    margin-right: 0;
  }
  .content > .heading.-center {
    margin-left: auto;
    margin-right: auto;
  }
  .content > .heading > .title {
    @extend .h1;
    margin-top: 0;
    margin-bottom: $handle-content-margin;
  }
  .content > .heading > .sub-title {
    @extend .h1;
    @extend .h-inverse;
    margin-top: 0;
    margin-bottom: ($handle-content-margin * 4);
  }
  .content > .heading > .sub-title > .receipt {
    @extend .h3;
    margin-top: 0;
    margin-right: $handle-content-margin;
    font-style: italic;
  }
  .content > .heading > .date { @extend .h5; }
  .content > .body { margin: 0; }
}
