.home {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
  background: #ddd;

  /**
   * Vertically center
   */
  .outer-container { @include table-center; }
  .outer-container > .inner-container { @include table-center-inner; }
  .container { @include g-container; } // Grid container
}
