@mixin g-container--screen() {
  width: $screen-md-min;
  padding-left: 0;
  padding-right: 0;
}

@mixin g-container--tablet() {
  width: $screen-md-min;
  padding-left: 0;
  padding-right: 0;
}

@mixin g-container--mobile($local-padding: $grid-gutter-width) {
  @include outer-container(100%);
  padding-left: $local-padding;
  padding-right: $local-padding;
}

@mixin g-container($local-padding: $grid-gutter-width) {
  @include g-container--mobile($local-padding);
  @include media($tablet) { @include g-container--screen; }
  @include media($screen) { @include g-container--tablet; }
}
